/.vagrant
/composer.lock
/.sass-cache
/puphpet/files/dot/ssh/id_rsa.pub
/puphpet/files/dot/ssh/id_rsa
/nbproject/
/.idea
/config/autoload/local.php
/config/development.config.php
/vendor
/node_modules/
/data
/public/vendor/
/public/build/
/public/data/
