/.vagrant
/composer.lock
/.sass-cache
/.fontcustom-manifest.json
/puphpet/files/dot/ssh
/nbproject/
/.idea
/config/autoload/local.php
/config/development.config.php
/vendor
/node_modules/
/data
/public/vendor/
/public/build/
/public/data/
