/vendor
/.vagrant
/composer.lock
/puphpet/files/dot/ssh/id_rsa.pub
/puphpet/files/dot/ssh/id_rsa
/public/vendor/
/public/build/
/nbproject/
/.idea
/node_modules/
/config/autoload/local.php
/config/development.config.php
/.sass-cache