<div class="modal-header">
    <h3 class="modal-title">{{item.title}}</h3>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="item.title" id="title" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input ng-model="item.description" id="description" class="form-control" placeholder="Description">
        </div>
        <div id="url" class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary" ng-class="{active: item.type === 'EMBED_URL'}">
                <input ng-model="item.type" type="radio" value="EMBED_URL"> Embed URL
            </label>
            <label class="btn btn-primary" ng-class="{active: item.type === 'FILE'}">
                <input ng-model="item.type" type="radio" value="FILE"> File
            </label>
        </div>
        <div ng-show="item.type == 'EMBED_URL'">
            <div class="form-group">
                <label for="url">URL</label>
                <input ng-model="item.url" id="url" class="form-control" placeholder="URL">
            </div>
        </div>
        <div ng-show="item.type == 'FILE'">
            <div class="form-group">
                <label for="fileId">File</label>
                <input single-file upload-data="{filesystem: 'album_item'}" ng-model="item.file_id" id="fileId" type="file" class="form-control" placeholder="File">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>