//Bootstrap
@import "../../public/vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "../../public/vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/theme";

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
