<?php
return array(
    'db' => array(
        'adapters' => array(
            'DefaultDbAdapter' => array(
                'driver' => 'Pdo_Mysql',
                'database' => 'myapp',
                'username' => 'dbuser',
                'password' => '123',
                'hostname' => 'localhost',
                'charset' => 'utf8',
            ),
        ),
    ),
    'zf-oauth2' => array(
        'storage' => 'ZF\\OAuth2\\Adapter\\PdoAdapter',
        'db' => array(
            'dsn_type' => 'PDO',
            'dsn' => 'mysql:dbname=myapp;host=localhost',
            'username' => 'dbuser',
            'password' => '123',
        ),
    ),
);
