<?php
return array(
    'db' => array(
        'adapters' => array(
            'DefaultDbAdapter' => array(
                'driver' => 'Pdo_Mysql',
                'database' => 'myapp',
                'username' => 'dbuser',
                'password' => '123',
                'hostname' => 'localhost',
                'charset' => 'utf8',
            ),
        ),
    ),
);
